/* **************** General ******************* */

body {
 margin:0;
 padding:0;
 background-color: #E8E8E8;
;
}

h1, h2, h3 {
  color: #000000;
  font-family: "Roboto", Times, serif;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  color: #FFFFFF;
  margin-top: 0px

}

h2 {
  font-size: 50px;
  font-weight: 200;
  text-align: left;


}

h3 {
  font-size: 25px;
  font-weight: 300;
  text-align: left;

}

p {
  margin-top: 25px;
  margin-bottom: 25px;

}

a {
  color: #303F9F;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
    color: #ffffff;
    background: #303F9F;
}

img.profile {
  padding-top: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 10px #AAAAAA;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.header {
  box-shadow: 0px 10px 10px #8E8E8E;
  background-color: #303F9F;
  padding-top:10px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -15px;
  margin-right: -15px;

}


footer {
  box-shadow: 0px -10px 10px #8E8E8E;
  background-color: #303F9F;
  color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -15px;
  margin-right: -15px;
}


.layer {
  box-shadow: 0px 0px 1px #303F9F;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -15px;
  margin-right: -15px;

}

.biggy {
  font-size: 150px;
  text-align: center;
  color: #AFAFAF;


}

.container {
  box-shadow: 0px 0px 20px #8E8E8E;
  background-color: #FFFFFF;
}


.navbar-default {
  background-color: #303f9f;
  border-color: #303F9F;
  font-size: 25px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #09145a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #09145a;
}
.navbar-default .navbar-toggle {
  border-color: #09145a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #09145a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #09145a;
  }
}


.tumblr_posts {

}
.tumblr_post {
  padding-bottom: 50px;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  border-color: #303F9F;

}
.tumblr_title {
  color: #000000;
  font-family: "Roboto", Times, serif;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 25px;
  font-weight: 300;
  text-align: left;


}
.tumblr_body img {

}
.read_more_container {

}
.read_more_container a {

}
